@page
@model CitiesModel
@{
  ViewData["Title"] = "InfoCovid";
}

<h3>Países</h3>

<div class="card-group">
  @foreach (var item in Model.Countries)
  {
    <div class="col-xxl-3 col-lg-3">
      <div class="card mb-4" style="background-color: #2E3140;">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="mr-3">
              <div class="text-white">@item.Name</div>
              <div class="text-lg text-white font-bold">@item.TotalDeaths</div>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a class="small text-white stretched-link" href="#">View Report</a>
        </div>
      </div>
    </div>
  }
</div>