@page
@model IndexModel
@{
  ViewData["Title"] = "InfoCovid";
}

<h3>Mundo</h3>
<p>Última atualização: @Model.Date</p>

<div class="card-group d-flex justify-content-around lg-10">
  <div class="col-xxl-3 col-lg-3">
    <div class="card bg-primary text-white mb-3" style="max-width: 14rem;">
      <div class="card-body">
        <h5 class="card-text">Casos confirmados</h5>
        <h2>@Model.Global.TotalConfirmed.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"))
        </h2>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-lg-3">
    <div class="card bg-danger text-white mb-3" style="max-width: 14rem;">
      <div class="card-body">
        <h5 class="card-text">Mortes</h5>
        <h2>@Model.Global.TotalDeaths.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"))
        </h2>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-lg-3">
    <div class="card bg-success text-white mb-3" style="max-width: 14rem;">
      <div class="card-body">
        <h5 class="card-text">Casos recuperados</h5>
        <h2>@Model.Global.TotalRecovered.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"))
        </h2>
      </div>
    </div>
  </div>
</div>

<h3>Filtrar</h3>

<div class="card-group">
  <div class="col-xxl-3 col-lg-2">
    <div class="card mb-4" style="background-color: #2E3140;">
      <a href="/filtro/paises" class="btn" role="button">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="mr-3">
              <div class="text-white text-center">Países</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>